# Missing RPE Data

On some of the game dates, we don't have RPE data. But, we are mainly concerned with the acute/chronic ratio which we can compute for the dates for which it is missing.

In [25]:
import pandas as pd
import numpy as np
from factor_analyzer import FactorAnalyzer
from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity, calculate_kmo
from scipy.stats import pointbiserialr
import matplotlib.pyplot as plt

In [26]:
np.random.seed(5151)
rpe_df = pd.read_csv('./processed_data/processed_rpe.csv')
print(rpe_df.head())

   Unnamed: 0        Date  PlayerID  Training SessionType  Duration  RPE  \
0           0  2017-08-01        15         1    Strength      60.0  4.0
1           1  2017-08-01         1         1       Speed      60.0  3.0
2           2  2017-08-01         1         1    Strength      90.0  4.0
3           3  2017-08-01         3         1       Speed      45.0  5.0
4           4  2017-08-01         3         1    Strength      90.0  5.0

   SessionLoad  DailyLoad  AcuteChronicRatio  ObjectiveRating  FocusRating  \
0        240.0      300.0               4.29              6.0          7.0
1        180.0      540.0               4.29              0.0          0.0
2        360.0      540.0               4.29              0.0          0.0
3        225.0      675.0               4.29              7.0          7.0
4        450.0      675.0               4.29              7.0          7.0

   BestOutOfMyself  AcuteLoad  ChronicLoad
0              3.0      42.86         10.0
1              3.0      77.14         18.0
2              3.0      77.14         18.0
3              3.0      96.43         22.5
4              3.0      96.43         22.5

## Drop Duplicate Dates

This occurs when there are multiple training sessions on the same date. We only care about the daily load so we can drop the duplicate sessions.

In [27]:
rpe_df = rpe_df.copy()[['Date', 'PlayerID', 'DailyLoad', 'AcuteChronicRatio', 'AcuteLoad', 'ChronicLoad']]
rpe_df.head()

         Date  PlayerID  DailyLoad  AcuteChronicRatio  AcuteLoad  ChronicLoad
0  2017-08-01        15      300.0               4.29      42.86         10.0
1  2017-08-01         1      540.0               4.29      77.14         18.0
2  2017-08-01         1      540.0               4.29      77.14         18.0
3  2017-08-01         3      675.0               4.29      96.43         22.5
4  2017-08-01         3      675.0               4.29      96.43         22.5

In [28]:
rpe_df = rpe_df.drop_duplicates()

## Fill In Missing RPE Data

In [29]:
rpe_df[rpe_df['AcuteChronicRatio'].isnull()]

,Date,PlayerID,DailyLoad,AcuteChronicRatio,AcuteLoad,ChronicLoad
265,2017-08-13,6,0.0,NaN,0.0,0.0

This row should not be in the dataset since it is the first entry for this player and they are not training.

In [30]:
rpe_df = rpe_df[~ rpe_df['AcuteChronicRatio'].isnull()]

In [31]:
rpe_df['Date'] = pd.to_datetime(rpe_df['Date'])

Adding missing dates and player ids to rpe data:

In [32]:
dates = pd.date_range(start=min(rpe_df['Date']), end=max(rpe_df['Date']))
players = rpe_df['PlayerID'].unique()
idx = pd.MultiIndex.from_product((dates, players), names=['Date', 'PlayerID'])

rpe_df = rpe_df.set_index(['Date', 'PlayerID']).reindex(idx, fill_value=0).reset_index().sort_values(by=['Date', 'PlayerID'])

Use a rolling window to compute acute load and chronic load:

In [33]:
temp = rpe_df[['Date','PlayerID','DailyLoad']].drop_duplicates()
past7Days = temp.groupby('PlayerID').rolling('7d', on='Date')['DailyLoad'].sum().reset_index()
past7Days['newAcuteLoad'] = (past7Days['DailyLoad'] / 7.).round(2)
past7Days = past7Days.drop(columns = 'DailyLoad')

rpe_df = pd.merge(rpe_df, past7Days, how='left', on=['Date', 'PlayerID'])

In [34]:
past30Days = temp.groupby('PlayerID').rolling('30d', on='Date')['DailyLoad'].sum().reset_index()
past30Days['newChronicLoad'] = (past30Days['DailyLoad'] / 30.).round(2)
past30Days = past30Days.drop(columns = 'DailyLoad')

rpe_df = pd.merge(rpe_df, past30Days, how="left", on=["Date", "PlayerID"])

In [35]:
rpe_df.drop(['ChronicLoad','AcuteLoad'],axis = 1, inplace = True)
rpe_df.rename(columns = {'newChronicLoad':'ChronicLoad','newAcuteLoad':'AcuteLoad'}, inplace = True)
rpe_df['AcuteChronicRatio'] = (rpe_df['AcuteLoad'] / rpe_df['ChronicLoad']).round(2)
rpe_df[rpe_df['PlayerID'] == 1]

,Date,PlayerID,DailyLoad,AcuteChronicRatio,AcuteLoad,ChronicLoad
0,2017-08-01,1,540.0,4.29,77.14,18.00
17,2017-08-02,1,0.0,4.29,77.14,18.00
34,2017-08-03,1,0.0,4.29,77.14,18.00
51,2017-08-04,1,0.0,4.29,77.14,18.00
68,2017-08-05,1,0.0,4.29,77.14,18.00
85,2017-08-06,1,0.0,4.29,77.14,18.00
102,2017-08-07,1,720.0,4.29,180.00,42.00
119,2017-08-08,1,0.0,2.45,102.86,42.00
136,2017-08-09,1,0.0,2.45,102.86,42.00
153,2017-08-10,1,0.0,2.45,102.86,42.00
170,2017-08-11,1,0.0,2.45,102.86,42.00
187,2017-08-12,1,0.0,2.45,102.86,42.00
204,2017-08-13,1,0.0,2.45,102.86,42.00
221,2017-08-14,1,690.0,1.52,98.57,65.00
238,2017-08-15,1,0.0,1.52,98.57,65.00
255,2017-08-16,1,0.0,1.52,98.57,65.00
272,2017-08-17,1,510.0,2.09,171.43,82.00
289,2017-08-18,1,1230.0,2.82,347.14,123.00
306,2017-08-19,1,0.0,2.82,347.14,123.00
323,2017-08-20,1,0.0,2.82,347.14,123.00
340,2017-08-21,1,670.0,2.37,344.29,145.33
357,2017-08-22,1,1080.0,2.75,498.57,181.33
374,2017-08-23,1,0.0,2.75,498.57,181.33
391,2017-08-24,1,0.0,2.35,425.71,181.33
408,2017-08-25,1,1020.0,1.84,395.71,215.33
425,2017-08-26,1,0.0,1.84,395.71,215.33
442,2017-08-27,1,0.0,1.84,395.71,215.33
459,2017-08-28,1,780.0,1.70,411.43,241.33
476,2017-08-29,1,630.0,1.32,347.14,262.33
493,2017-08-30,1,0.0,1.32,347.14,262.33
...,...,...,...,...,...,...
5525,2018-06-22,1,710.0,1.51,387.14,256.67
5542,2018-06-23,1,0.0,1.65,387.14,234.67
5559,2018-06-24,1,0.0,1.90,387.14,204.00
5576,2018-06-25,1,570.0,1.72,384.29,223.00
5593,2018-06-26,1,630.0,1.35,328.57,244.00
5610,2018-06-27,1,0.0,1.47,328.57,224.00
5627,2018-06-28,1,300.0,1.45,315.71,217.67
5644,2018-06-29,1,390.0,1.17,270.00,230.67
5661,2018-06-30,1,0.0,1.25,270.00,216.00
5678,2018-07-01,1,0.0,1.34,270.00,201.00
5695,2018-07-02,1,370.0,1.13,241.43,213.33
5712,2018-07-03,1,450.0,0.94,215.71,228.33
5729,2018-07-04,1,0.0,0.94,215.71,228.33
5746,2018-07-05,1,220.0,0.91,204.29,223.67
5763,2018-07-06,1,0.0,0.66,148.57,223.67
5780,2018-07-07,1,0.0,0.68,148.57,219.67
5797,2018-07-08,1,0.0,0.72,148.57,205.27
5814,2018-07-09,1,0.0,0.47,95.71,205.27
5831,2018-07-10,1,360.0,0.39,82.86,212.00
5848,2018-07-11,1,0.0,0.39,82.86,212.00
5865,2018-07-12,1,0.0,0.24,51.43,212.00
5882,2018-07-13,1,0.0,0.24,51.43,212.00
5899,2018-07-14,1,0.0,0.24,51.43,212.00
5916,2018-07-15,1,0.0,0.26,51.43,200.00
5933,2018-07-16,1,240.0,0.41,85.71,208.00
5950,2018-07-17,1,180.0,0.28,60.00,214.00
5967,2018-07-18,1,0.0,0.31,60.00,194.33
5984,2018-07-19,1,180.0,0.52,85.71,166.33
6001,2018-07-20,1,0.0,0.52,85.71,166.33
6018,2018-07-21,1,0.0,0.56,85.71,153.33

In [38]:
gps_df = pd.read_csv('./processed_data/processed_gps.csv')
gps_df = gps_df.drop(columns=['Unnamed: 0'])
gps_df.head()

,Date,GameID,Outcome,TeamPoints,PlayerID,MaxSpeedInGame,MaxAccelImpulseInGame
0,2017-11-30,1,W,19,2,7.284728,4.423615
1,2017-11-30,1,W,19,3,6.852436,4.888893
2,2017-11-30,1,W,19,4,7.267784,5.694449
3,2017-11-30,1,W,19,6,6.338894,4.777782
4,2017-11-30,1,W,19,7,7.065283,4.091273

In [39]:
# merged_df = gps_df.merge(rpe_df, how='left', on=['Date', 'PlayerID'])
# merged_df.head()
gps_df['Date'] = pd.to_datetime(gps_df['Date'])
train_performance = gps_df.merge(rpe_df[[
    'Date','PlayerID', 'AcuteLoad',
    'ChronicLoad','AcuteChronicRatio']],
    how='left', on= ['Date','PlayerID']).drop_duplicates()
print(len(train_performance))
train_performance.head()

443

,Date,GameID,Outcome,TeamPoints,PlayerID,MaxSpeedInGame,MaxAccelImpulseInGame,AcuteLoad,ChronicLoad,AcuteChronicRatio
0,2017-11-30,1,W,19,2,7.284728,4.423615,206.57,371.20,0.56
1,2017-11-30,1,W,19,3,6.852436,4.888893,407.86,454.67,0.90
2,2017-11-30,1,W,19,4,7.267784,5.694449,236.00,406.90,0.58
3,2017-11-30,1,W,19,6,6.338894,4.777782,297.29,415.87,0.71
4,2017-11-30,1,W,19,7,7.065283,4.091273,237.57,476.60,0.50

In [41]:
wellness_df = pd.read_csv('./processed_data/processed_wellness.csv')
wellness_df = wellness_df.drop(columns=['Unnamed: 0'])
wellness_df['Date'] = pd.to_datetime(wellness_df['Date'])
wellness_df.head()

,Date,PlayerID,MonitoringScore,Pain,Illness,Nutrition,wellness
0,2018-07-21,1,-1.450204,-0.364611,-0.301008,0.712604,-1.403220
1,2018-07-21,2,0.170622,2.742646,-0.301008,0.712604,3.324864
2,2018-07-21,3,0.170622,-0.364611,-0.301008,0.712604,0.217606
3,2018-07-21,4,-0.909929,-0.364611,-0.301008,0.712604,-0.862945
4,2018-07-21,5,0.440759,-0.364611,-0.301008,-1.217589,-1.442449

In [42]:
merged_df = train_performance.merge(wellness_df,
    how='left', on= ['Date','PlayerID']).drop_duplicates()
print(len(merged_df))
merged_df.head()

443

,Date,GameID,Outcome,TeamPoints,PlayerID,MaxSpeedInGame,MaxAccelImpulseInGame,AcuteLoad,ChronicLoad,AcuteChronicRatio,MonitoringScore,Pain,Illness,Nutrition,wellness
0,2017-11-30,1,W,19,2,7.284728,4.423615,206.57,371.20,0.56,0.981035,-0.364611,-0.301008,-1.217589,-0.902173
1,2017-11-30,1,W,19,3,6.852436,4.888893,407.86,454.67,0.90,1.251172,-0.364611,-0.301008,0.712604,1.298157
2,2017-11-30,1,W,19,4,7.267784,5.694449,236.00,406.90,0.58,0.710897,-0.364611,-0.301008,0.712604,0.757881
3,2017-11-30,1,W,19,6,6.338894,4.777782,297.29,415.87,0.71,0.440759,-0.364611,-0.301008,0.712604,0.487744
4,2017-11-30,1,W,19,7,7.065283,4.091273,237.57,476.60,0.50,1.251172,-0.364611,-0.301008,0.712604,1.298157

In [45]:
print(merged_df[merged_df['MonitoringScore'].isnull()])

          Date  GameID Outcome  TeamPoints  PlayerID  MaxSpeedInGame  \
47  2017-12-01       4       W          24        14        7.454450
73  2017-12-01       6       L           5        14        1.360418
75  2018-01-26       7       W          24         2        6.712505
86  2018-01-26       8       W          24         2        6.517366
97  2018-01-26       9       W          19         2        6.688894
123 2018-01-27      11       L           0         5        6.930006
135 2018-01-28      12       W          40         5        7.824213
140 2018-01-28      12       W          40        12        4.815745
238 2018-04-22      21       L          19         5        7.736117
250 2018-04-22      22       W          33         5        7.466117
385 2018-06-10      34       W          17         1        7.955562
389 2018-06-10      34       W          17         5        8.062506

     MaxAccelImpulseInGame  AcuteLoad  ChronicLoad  AcuteChronicRatio  \
47                4.444448      92.14       318.33               0.29
73                4.472226      92.14       318.33               0.29
75                5.277782     102.86       337.83               0.30
86                4.645837     102.86       337.83               0.30
97                4.666670     102.86       337.83               0.30
123               3.793654     291.43       213.00               1.37
135               3.424606     291.43       213.00               1.37
140               3.694447     120.00       125.50               0.96
238               4.605559      10.29       103.30               0.10
250               4.094448      10.29       103.30               0.10
385               5.208337     152.86       268.97               0.57
389               5.208337      27.57        89.23               0.31

     MonitoringScore  Pain  Illness  Nutrition  wellness
47               NaN   NaN      NaN        NaN       NaN
73               NaN   NaN      NaN        NaN       NaN
75               NaN   NaN      NaN        NaN       NaN
86               NaN   NaN      NaN        NaN       NaN
97               NaN   NaN      NaN        NaN       NaN
123              NaN   NaN      NaN        NaN       NaN
135              NaN   NaN      NaN        NaN       NaN
140              NaN   NaN      NaN        NaN       NaN
238              NaN   NaN      NaN        NaN       NaN
250              NaN   NaN      NaN        NaN       NaN
385              NaN   NaN      NaN        NaN       NaN
389              NaN   NaN      NaN        NaN       NaN

In [46]:
merged_df.to_csv('./processed_data/merged_df.csv')